* {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}
button {
  width: fit-content;
  margin-left: auto;
  background-color: black;
  color: white;
  border: none;
  outline: none;
  padding: 8px 20px;
  border-radius: 25px;
  margin-top: 10px;
  font-size: 0.9rem;
  cursor: pointer;
  box-shadow: 2px 4px 4px 0px rgb(187, 185, 185);
}
